body{
    background-color: red;
}
.h{
    width: 10vw;
    border: 4px solid green;
    color: red;
    margin: auto;
    background-color: green;
}
h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}